body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 900px;
    margin: 100px auto;
}
thead {
    background-color: #990000;
    color: white;
    position: sticky;
    top: 0;
}
table caption {
    font-weight: bold;
    font-size: xx-large;
    padding: 20px;
    color: #990000;
}
td, th {
    border: solid 1px #FF5B00;
    padding: 10px;
}
tr:nth-child(even) {
    background-color: #FFEE63;
}
tbody tr:hover {
    background-color: #D4D925;
}
td:nth-child(3),
th:nth-child(3) {
    text-align: center;
}
tfoot tr th:last-child,
tbody tr td:last-child {
    text-align: justify;
}
footer {
    background-color: #990000;
    color: white;
    text-align: center;
    font-size: large;
    font-weight: 5px;
    padding: 20px;
}